html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto','sans-serif';
}
ul
{
    list-style-type: none;
    padding-left: 0;
}

/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  select, input, .panel select, .panel input {
    font-size: 15px;
  }
  select, .panel select {
    width: 100%;
  }
  i, .panel i {
    font-size: 12px;
  }
}
.hidden {
  display: none;
}
// navigation
#nav {
  position: fixed;
  right: 0;
  top:0;
  height: 200px;
  width: 150px;
  z-index: 9999;
  background-color: #333333;
  color: white;
  box-shadow: 6px 8px 15px 0 rgba(0, 0, 0, 0.5), 6px 9px 15px 0 rgba(0, 0, 0, 0.8);
  text-align: center;
   a{
     color: gray;
     text-decoration: none;
     padding: 0 43px;
     &:active, &:hover, &:focus {
       color: #FFF;
       font-weight: bold;
       border-left: thick solid #1C57FF;
       transition: all 0.2s linear 0s;
     }
   }
}
#profpic {
  padding: 20px 20px 0 20px;
  a{
    padding: 0;
    &:active, &:hover, &:focus {
      border-left: none;
    }
  }
}
#hero {
  width: 100%;
  height: 300px;
  background: url(img/hero-cheese.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  #heroOverlay {
    margin-top: -100px;
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: black;
    filter: opacity(0.5);
  }
  .businessHeader{
    filter: opacity(1);
    color: white;
    text-align: center;
    img {
      margin-top: -20px;
      position: absolute;
      float: left;
      left: 30%;
    }
  }
}
.hero-text{
  h2{
    margin: 20px 0 0 0;
  }
  h3{
    margin: 0 0 0 -70px;
  }
}
