html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans','sans-serif';
}
ul
{
    list-style-type: none;
    padding-left: 0;
}
.mapinv{
  display: block;
}

/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  select, input, .panel select, .panel input {
    font-size: 15px;
  }
  select, .panel select {
    width: 100%;
  }
  i, .panel i {
    font-size: 12px;
  }
}
.hidden {
  display: none;
}
// navigation
#nav {
  position: absolute;
  right: 0;
  top:0;
  height: 200px;
  width: 150px;
  z-index: 9999;
  background-color: #333333;
  color: white;
  box-shadow: 6px 8px 15px 0 rgba(0, 0, 0, 0.5), 6px 9px 15px 0 rgba(0, 0, 0, 0.8);
  text-align: center;
   a{
     color: gray;
     text-decoration: none;
     padding: 0 43px;
     &:active, &:hover, &:focus {
       color: #FFF;
       font-weight: bold;
       border-left: thick solid #1C57FF;
       transition: all 0.2s linear 0s;
     }
   }
}
#profpic {
  padding: 20px 20px 0 20px;
  a{
    padding: 0;
    &:active, &:hover, &:focus {
      border-left: none;
    }
  }
}
