@import url(http://weloveiconfonts.com/api/?family=entypo);
$red: #E85349;
$green: #22C064;
$blue: #1352E2;
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
//globals
html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto','sans-serif';
}
ul
{
    list-style-type: none;
    padding-left: 0;
}
a {
  font-size: 18px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  text-decoration: none;
}
.hide {
  display: none;
}
/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  select, input, .panel select, .panel input {
    font-size: 15px;
  }
  select, .panel select {
    width: 100%;
  }
  i, .panel i {
    font-size: 12px;
  }
}
.hidden {
  display: none;
}
// navigation
#nav {
  position: fixed;
  right: 0;
  top:0;
  height: 200px;
  width: 150px;
  z-index: 9999;
  background-color: #333333;
  color: white;
  box-shadow: 6px 8px 15px 0 rgba(0, 0, 0, 0.5), 6px 9px 15px 0 rgba(0, 0, 0, 0.8);
  text-align: center;
  ul{
    margin-top: -15px;
    li{
      margin-top: -20px;
    }
  }
   a{
     color: gray;
     text-decoration: none;
     padding: 0 43px;
     &:active, &:hover, &:focus {
       color: #FFF;
       font-weight: bold;
       border-left: thick solid #1C57FF;
       transition: all 0.2s linear 0s;
     }
   }
}

//profpic
#profpic {
  padding: 20px 20px 0 20px;
  a{
    padding: 0;
    &:active, &:hover, &:focus {
      border-left: none;
    }
    img {
      width: 99px;
      height: 96;
    }
  }
}
//hero banner
#hero {
  width: 100%;
  height: 250px;
  background: url(img/hero-wine.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  box-shadow: 1.5px 2px 3.5px 0 rgba(0, 0, 0, 0.4), 1.5px 2px 3.5px 0 rgba(0, 0, 0, 0.4);
  #heroOverlay {
    margin-top: -100px;
    position: absolute;
    height: 350px;
    width: 100%;
    background-color: black;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
  }
  .businessHeader{
    width: 50%;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
    color: white;
    img {
      margin-top: -20px;
      float: left;
    }
    .hero-text{
      h2{
        margin: 20px 0 0 0;
      }
      h3{
        margin: 0 0 0 -70px;
      }
    }
  }
}


//Round menus
.radial {
  left: 62%;
  z-index: 9999;
  position: relative;
  width: 20px;
  height: 20px;
  top: 50px;
  margin-left: -300px;
}

.menu {
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  top: -52px;
  right: -6px;
  width: 100%;
  a {
    font-size: 18px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: $red;
    border-radius: 100em;
    color: #fff;
    position: absolute;
    text-decoration: none;
    left: 60%;
    margin-left: -22px;
    top: -7px;
    transition: all .5s ease-in-out;
    opacity: 0;
    &:hover {
      background: #2c3e50;
    }
    .radial:hover & {
      opacity: 1;
      &:nth-child(1){
        transform: translate( 0, -100% );
      }
      &:nth-child(2) {
        transform: translate( -100%, 0% );
      }
      &:nth-child(3) {
        transform: translate( 100%, 0 );
      }
      &:nth-child(4) {
        transform: translate( 0, 100% );
      }
    }
  }
}
//menu button
.avatar {
  top: -100px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 auto;
  background-color: $red;
  position: relative;
  z-index: 10;
  a {
    position: absolute;
    max-height: 100%;
    padding: 0;
    margin: -5px 13px;
  }
}
//round menu end
//profile styles
.proudPartners {
  display: inline-block;
  padding: 20px;
  width: 200px;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.12), 0px 2px 2px 0 rgba(0, 0, 0, 0.24);
  vertical-align:top;
}
.businessDetails {
  width: 70%;
  padding: 20px;
  display: inline-block;
  vertical-align:top;
}

.status, .tags, .bio {
  padding: 10px;
}
.status {
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.12), 0px 2px 2px 0 rgba(0, 0, 0, 0.24);
  .circle {
    float: left;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 10px 0 0;
    background-color: $green;
    z-index: 10;
  }
  p{
    margin: 0;
  }
  small {
    color: gray;
  }
}
.tagpill, .tagpill2, .tagpill3 {
  color: white;
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 3px;
}
.tagpill {
  background-color: $red;
}
.tagpill2 {
  background-color: $green;
}
.tagpill3{
  background-color: $blue;
}
.bio {
  strong, .biobox {
    vertical-align:top;
    display: inline-block;
  }
  .biobox {
    margin: 0 10px;
    width: 80%;
    padding: 20px;
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.12), 0px 2px 2px 0 rgba(0, 0, 0, 0.24);
  }
}
.explore {
  padding: 0 20px 20px 20px;
  .explorecol{
    padding: 20px;
    display: inline-block;
    vertical-align:top;
    .tagpill, .tagpill2{
      vertical-align:top;
      display: block;
    }
    img{
      margin: 20px;
    }
  }
}
